@{
    ViewData["Title"] = "Страницата не е намерена";
    Layout = "_Layout"; 
}
<link rel="stylesheet" href="~/css/NotFound.css" asp-append-version="true" />

<div class="error-container-wrapper">
    <h1 class="error-code">404</h1>
    <h2 class="error-header">Страницата не е намерена</h2>
    <p class="error-subheader">
        Извиняваме се, но страницата, която търсите, не съществува или е била преместена.
        Моля, проверете URL адреса или използвайте бутоните по-долу.
    </p>
    <div class="button-container">
        <button onclick="history.back()" class="action-button">Върнете се назад</button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="action-button">Към Начална страница</a>
    </div>
</div>
