@{
    ViewData["Title"] = "Генератор на Случайни Пароли";
}

<script src="~/js/randomPassword.js" asp-append-version="true"></script>
<h2 class="text-center my-4">Генератор на Случайни Пароли</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="passwordLength">Дължина на паролата:</label>
                <input type="number" class="form-control" id="passwordLength" value="12" min="8" max="32">
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="includeUppercase" checked>
                <label class="form-check-label" for="includeUppercase">
                    Включи главни букви (A-Z)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="includeLowercase" checked>
                <label class="form-check-label" for="includeLowercase">
                    Включи малки букви (a-z)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="includeDigits" checked>
                <label class="form-check-label" for="includeDigits">
                    Включи цифри (0-9)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="includeSpecialChars" checked>
                <label class="form-check-label" for="includeSpecialChars">
                    Включи специални символи (!#$%^&*)
                </label>
            </div>
            <button id="generateButton" class="btn btn-primary mt-3">Генерирай Парола</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="generatedPassword">Генерирана парола:</label>
                <input type="text" class="form-control" id="generatedPassword" readonly style="background-color: #e9ecef;">
            </div>
            <div id="generationMessage" class="mt-2 text-info" style="display:none;"></div>
        </div>
    </div>
</div>
