﻿@using ServiceHub.Common


@{
    ViewData["Title"] = "Използване на услуга";

    Guid serviceIdToUse = ViewBag.ServiceIdToUse;

    string serviceTitle = ViewBag.ServiceTitle ?? "Неизвестна услуга";

    Guid serviceModelId = ViewBag.ServiceModelId;
}

<h1>Използване на услуга: @serviceTitle</h1>
<hr />
<div id="serviceFormContainer">
    @if (serviceIdToUse == ServiceConstants.FileConverterServiceId)
    {

        <partial name="_FileConverterForm" />
    }



    else
    {
        <div class="alert alert-warning" role="alert">
            Форма за тази услуга не е налична все още или услугата не е разпозната.
        </div>
    }
</div>

<div>

    <a asp-action="Details" asp-controller="Service" asp-route-id="@serviceModelId" class="btn btn-secondary mt-3">Назад към Детайли</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}